{# @see https://symfony.com/bundles/EasyAdminBundle/current/fields.html#creating-custom-fields #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext ea #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto field #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto entity #}
{% if entity.instance.data.git|default(false) %}
    {% for chunk in entity.instance.data.git %}
        {% if not loop.first %}
            <hr/>
        {% endif %}
        <pre>path:   {{ chunk.path }}
branch: <a href="{{ chunk.remote }}/tree/{{ chunk.branch }}">{{ chunk.branch }}</a>
commit: <a href="{{ chunk.remote }}/commit/{{ chunk.commit }}">{{ chunk.commit }}</a></pre>
    {% endfor %}
{% else %}
    {{ '–' }}
{% endif %}
